<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breakthecode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BreakTheCode">
        <activity android:name=".MorseCipher"></activity>
        <activity android:name=".HexCipher" />
        <activity android:name=".BinaryCipher" />
        <activity android:name=".AdditionalInformation" />
        <activity android:name=".VigenereCipher" />
        <activity android:name=".NonDevCipher" />
        <activity android:name=".CombinedCipher" />
        <activity android:name=".A1Z26Cipher" />
        <activity android:name=".AtbashCipher" />
        <activity android:name=".CaesarCipher" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>